.comments ul li {
    list-style: circle;
    margin: 1rem;
}

.comments button {
    cursor: pointer;
    margin-left: 0.25rem;
    border: none;
    background: var(--base08);
    color: var(--base00);
    font-weight: 500;
    text-transform: uppercase;
}