section {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}

section nav p {
    text-align: center;
}

section nav {
    padding: 1rem;
    border-right: solid 1px var(--base03);
    overflow: auto;
    height: 100%;
}

section nav small {
    font-size: 0.75rem;
    background: var(--base02);
    padding: 0.5em 0.75em;
    border-radius: 1em;
}

section nav a.active small {
    background: var(--base00);
}

section nav a:hover small {
    background: var(--base00);
}

main {
    padding: 1rem 3rem;
}

section nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    text-decoration: none;
    color: var(--base05);
    font-weight: 500;
    border-radius: 0.5rem;
}

section nav a:hover {
    background: var(--base01);
}

section nav a.active {
    background: white;
}

section nav form {
    margin-top: 1.5rem;
    border-top: solid 1px var(--base02);
    padding: 1.5rem 0rem;
}

section nav button,
section nav input[type="text"] {
    font: inherit;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

section nav button {
    cursor: pointer;
    margin-left: 0.25rem;
    border: none;
    background: var(--base08);
    color: var(--base00);
    font-weight: 500;
    text-transform: uppercase;
}

section nav input[type="text"] {
    border: solid 1px var(--base02);
    background: var(--base01);
    color: inherit;
}

section nav input[type="text"]:focus {
    background: var(--base00);
}

main h2 {
    color: var(--base05);
    margin: 0.75rem 0;
}

main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main li {
    margin: 1rem 0;
}

main input[type="text"] {
    width: 20rem;
    border: 0px;
    border-bottom: solid 1px var(--base02);
    font: inherit;
    padding: 0 0 0.25rem 0;
    background: transparent;
    color: inherit;
}

main input[type="text"]:focus {
    outline: none;
    border-bottom-color: var(--base08);
}

main form {
    display: inline;
}